// styles in src/style directory are applied to the whole page
//@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
    background: floralwhite;
    color: #fff;
}
a {
    color: #03A9F4;
}

h1{
  color:orange;
}
