// styles applied on :host are applied on the current component, "app" in this case
//@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
//@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

:host {
  display: block;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

h2 {
  color: purple;
}
h1 {
  color: darkred;
}
main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}
