<header class="mat-elevation-z16">
  <nav md-tab-nav-bar>
    <a md-tab-link
       [routerLink]="['']">
      Home
    </a>
    <a md-tab-link
       [routerLink]="['about']">
      About
    </a>
    <a md-tab-link
       [routerLink]="['parent']">
      Parent
    </a>
    <a md-tab-link [mdMenuTriggerFor]="menu" >
      Events
      <md-menu #menu="mdMenu">
        <div><a  md-menu-item routerLink="event/0" >Events</a></div>
        <div *ngFor="let event of events"><a  md-menu-item routerLink="event/{{event.id}}" >Event {{event.id}}</a></div>
      </md-menu>
    </a>
    <a md-tab-link
       [routerLink]="['event/create']">
      Create Event
    </a>

    <a md-tab-link  *ngIf="!auth.isAuthenticated()" [routerLink]="['user/login']"><span class="glyphicon glyphicon-log-in"></span> Login </a>
    <a md-tab-link *ngIf="auth.isAuthenticated()" [routerLink]="['user/profile']"><span class="glyphicon glyphicon-user"></span> Welcome {{auth.currentUser.firstName}} </a>
  </nav>
</header>
<main>

  <!--<my-parent></my-parent>-->
  <!--<my-eventlist></my-eventlist>-->


  <!-- Images (and assets) are parsed and loaded from within the public directory -->


  <router-outlet></router-outlet>
</main>
<footer>
  <a [href]="url">Webpack Angular 2 Starter</a>
</footer>
