em {
  float: right;
  color: red;
  padding-left: 10px;
}

label {
  color: orange;
}

p {
  color: saddlebrown;
}

em {
  float: right;
  color: orangered;
  padding-left: 10px;
}

.error input {background-color: #E3C3C5}

label {
  color: black;
}
